@import "~antd/dist/antd.css";
@import "../../style/variables.scss";

.BookList {
  padding: $small $large;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__row {
      padding: $large 0;
      display: flex;
      flex-direction: row;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 760px) {
  .BookList {
    padding: 0 $small;

    &__container {
      width: 99vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &__row {
        display: flex;
        flex-direction: column;
      }

      &__col{
        width: 100vw;
      }
    }
  }
}
