@import "../../style/variables.scss";

.SignIn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  max-width: 150px;

  &__button {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px 8px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #001529;
    color: white;
    margin: $small;

    &:focus {
      outline: none;
      background-color: #001529;
    }

    &:hover {
      background-color: white;
      color: #001529;
    }
  }
}
