@import "~antd/dist/antd.css";
@import "../../style/variables.scss";

.Login {
  display: flex;
  align-items: center;
  height: 80vh;

  &__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    padding: $medium;
    margin-left: 60px;
    width: 350px;
    height: 250px;

    &__row {
      display: flex;
      justify-content: space-around;

      &__input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: $medium;
        .error {
          color: #b10000;
        }
      }

      &__checkbox {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__button {
    width: 100%;
    background-color: #40a9ff;
    color: white;
  }
}
