@import "~antd/dist/antd.css";
@import "../../style/variables.scss";


.container{
    PageHeader{
        border: 1px solid rgb(235, 237, 240);
    }
}

.AddBook {
    display: flex;
    justify-content: center;

    &__body{
        padding: $larger;
        border:1px solid rgb(235, 237, 240);
        box-shadow: --1px 6px 37px -20px rgba(0, 0, 0, 0.39);

        &__input-row {
            color: black;
            font-size: medium;
            font-family: Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: $small;
        }
    }
}