@import "~antd/dist/antd.css";
@import "../../style/variables.scss";

.Book {
  &__container {
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
    width: 55vw;
    background-color: #fff;
    padding: $large;
    border: 1px transparent solid;
  }
  
  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__info {
    max-width: 600px;

    &__header {
      display: flex;
      flex-direction: column;

      &__title {
        font-size: $large;
        font-weight: bold;
      }
      &__author {
        font-size: $medium;
        color: darkslategray;
      }
    }
  }
}
.test {
  display: flex;
  justify-content: center;
}
