@import "../../style/variables.scss";

.Navbar {
  padding: $large;
  height: 45px;
  background-color: #001529;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    color: white;

    &__body {
      display: flex;
      align-items: center;
    }
  }
}
