@import "~antd/dist/antd.css";

.card {
  display: flex;
  justify-content: center;

  &__body {
    width: 100%;
  }
  &__title {
    white-space: pre-line;
  }

  &__image {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 760px) {
  .card__image {
    max-width: 100vw;
  }
  .card {
    width: 100%;
  }
}
.ant-card-body {
  font-size: 12px;
  min-height: 80px;
  max-height: 80px;
}